# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django and general
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Env
.env
venv/
ENV/
env/

# Static and media
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# Others
.idea/
